:root {
    --primary-color: #0B1D33;
    --secondary-color: #FF6B35;
    --text-color: #333;
    --bg-color: #F8F9FA;
}

body,
p,
li {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
}

strong {
    color: var(--secondary-color);
}

.color-box-1 {
    background-color: #0B1D33;
    color: white;
    padding: 10px
}

.color-box-2 {
    background-color: #FF6B35;
    padding: 10px;
}

.color-box-3 {
    background-color: #F8F9FA;
    border: 1px solid #ccc;
    padding: 10px;
}

.wireframe-container {
    max-width: 100%;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.wf-block {
    background: #e0e0e0;
    border: 2px solid #555;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 15px;
    margin: 5px;
}

.wf-hero {
    height: 150px;
}

.wf-text {
    height: 50px;
    margin: 5px;
}

.wf-mobile-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
    border: 5px solid #333;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.wf-desktop-header,
.wf-desktop-coursegrid {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.wf-desktop-navlink {
    width: 20%;
    height: 20px;
}

.wf-desktop-coursegrid .wf-block {
    width: 30%;
    height: 100px;
}