header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #d1d9e6;
    padding: 1.5rem;
    background-color: #f0f8ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}